body{
    max-width: 1200px !important;
    margin: auto;
}

.logo{
    width: 40%;
    margin: 10px;
}

.pad{
    padding-left: 200px;
}

.nav-item{
    padding: 0px 10px;
}

.titulo{
    margin: 20px;
}

.imgCar{
    width: 30px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexAlignCenter{
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.ref{
    color: rgba(0,0,0,.55);
    text-decoration: none;
    font-weight: 500;
    padding: 0px 0px 0px 15px;
}

.cardImg{
    width: 200px;
}

.cardFlex{
    flex-direction: row;
    display: flex;
}

.card{
    border: 1px solid lightgray;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
}

.cardStock{
    margin: auto;
}

.fontBlue{
    color: #0dcaf0;
}

.cardButton{
    margin: 10px 0px;
}

.buttonCount{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.textButton{
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    font-weight: 500;
}

.buttonAgregarCarrito{
    display: flex;
    justify-content: center;
    margin: auto;
}